.main_div {
padding: 50px;
width: 1000px;
margin: 0 auto;

}

.header_1 {
    padding: 3px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(66, 7, 7);
    background-color: rgb(37, 219, 0);
    color: rgb(0, 0, 0);
    align-items: center;
    font-weight: bold;
}


.body_1 {
    padding-top: 40px;
    padding-bottom: 500px;
    /*margin-bottom: 0px; */ 
    background-size: cover;
    color: rgb(153, 243, 101);
    background-image: url(https://images3.alphacoders.com/649/649328.png);
    
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(37, 219, 0);
    border: 1px solid rgb(66, 7, 7);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

a:link {
    color: rgb(211, 255, 194);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(211, 255, 194);
  }
  
  a:hover {
    color: rgb(211, 255, 194);
    text-decoration: underline;
  }
  
  a:active {
    color: red;
  }
